
#editor_div {
    display: block;
    margin: auto;
    width: 600px;
    height: 300px;
    border: 1px solid #888;
}

form {
    text-align: center;
}

#fixed {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border: 1px solid #888;
}

#view{
    position: absolute;
    right: 0;
    bottom: 0;
    width:50%;
    height: 100%;
    background-color: lightblue;
    border: 1px solid #888;
}

#submit1{
    position: fixed;
    bottom: 30%;
    right: 0;
    border: 1px solid #888;
}

#menu{
    position: fixed;
    bottom: 30%;
    right: 400px;
    border: 1px solid #888;
}

#resetcode{
    position: fixed;
    bottom: 30%;
    right: 520px;
    border: 1px solid #888;
}


#hide{
    position: fixed;
    bottom: 30%;
    right: 130px;
    border: 1px solid #888;
}

#download{
    position: fixed;
    bottom: 30%;
    right: 245px;
    border: 1px solid #888;
}

#hint{
    position: absolute;
    bottom: 105%;
    width: 100%;
    height: 100px;
    background-color: rgb(255,180,180);
    border: 1px solid #888;
}

#hintRight{
    position: absolute;
    bottom: 105%;
    width: 100%;
    height: 100px;
    background-color: lightgreen;
    border: 1px solid #888;
}

#pythonTab{
    position: fixed;
    bottom: 30%;
    left : 0;
	background-color: rgb(151,0,51);
    border: 1px solid #888;
}

#YTHint{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 100%;
    border: 1px solid #888;
}

#canva{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; height: 30%;
}

#menuQuestion{
	overflow:auto;
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px; height: 100%;
    transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
    transform: translate(250px, 0px);
    background-image: linear-gradient(70deg, #181818 50%, #1a1a1a 50%);
    color: #888;
    font-family: FontAwesome;
    display:none;
}

#menuQuestion nav {
    padding: 0.5em 1.25em;
    font-family: FontAwesome;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    height: 2.25em;
    left: 0.5em;
    line-height: 2.25em;
    position: absolute;
    text-align: justify;
    top: 0.5em;
    width: 3.5em;
}

#menuQuestion nav h1{
    width: 10em;
    color:white;
    padding: 0.5em 1em;
    font-family:"Lato";
    font-size: 1.4em;
}