<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Exercise Page</title>
<link href="images/apple-icon.png" rel="apple-touch-icon">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <script type="text/javascript" src="build/embedding-demo.bundle.js?129cff1c38" charset="utf-8"></script>

    
<link rel="stylesheet" type="text/css" href="../css_v3/normalize.css">
        <script src="../js/jquery.min.js"></script>



</head>
<body>

	<section id="navigation" class="bg-navigation">
		<div class="clearfix">
			<a class="navbar--title" href="/">
				<div class="logo"></div>
				<h1 class="logo-title">Title logo</h1>
			</a>
			<div class="navigation--buttons-center"
				data-onboarding="button-center">
				<a class="navbar--title" href="/"> </a><a href=""
					tooltip-append-to-body="true" ng-click="previousExercise()"
					ng-hide="isFirstExercise" button-shortcut="ctrl+j"
					tooltip="Previous Exercise (Ctrl+J)" tooltip-placement="bottom"
					class="navigation--left"> <i class="fa fa-chevron-left"></i>
				</a> <a href="" tooltip-append-to-body="true"
					ng-click="openCourseOutlineModal()" button-shortcut="ctrl+o"
					tooltip="Ctrl+O" tooltip-placement="bottom"
					ng-class="isFirstExercise ? 'navigation--left' : 'navigation--middle'"
					class="navigation--outline navigation--middle"> <i
					class="fa fa-bars"></i><span>Course Outline</span>
				</a> <a href="" tooltip-append-to-body="true" ng-click="nextExercise()"
					button-shortcut="ctrl+k" tooltip="Next Exercise (Ctrl+K)"
					tooltip-placement="bottom" class="navigation--right"> <i
					class="fa fa-chevron-right"></i>
				</a>
			</div>
			<!-- ngIf: user -->
			<div class="navigation--buttons-right">
				<span id="app-status" class=""> <i class="fa fa-circle"></i>
					<span id="app-status-text">Workspace Ready</span>
				</span>

			</div>
			<!-- end ngIf: user -->
		</div>
	</section>
	<div class="exercise-area">
		<div id="render-view">

			<aside id="sidebar" class="exercise--sidebar">
				<div class="exercise--sidebar-content">
					<div data-onboarding="assignment"
						class="exercise--assignment exercise--typography">
						<h3 class="exercise--title" ng-bind-html="exercise.title">
							Chapter 3 Excersice 1 - Python</h3>
						<skills-tooltip skills="exercise.skills" xp="exercise.current_xp"
							hint="true" solution="true"> <!-- ngIf: shown -->
						<div ng-if="shown" class="skills-tooltip"
							tooltip-placement="right"
							tooltip="Completing this exercise grants 100 XP to
&quot;Python Programming&quot;.
Using a hint or solution lowers the XP you receive."
							tooltip-append-to-body="true">100xp</div>
						<!-- end ngIf: shown --> </skills-tooltip>
						<div ng-bind-html="exercise.assignment"
							ng-model="exercise.assignment" mathjax=""
							class="ng-pristine ng-untouched ng-valid">
							<p>With matplotlib, you can create a bunch of different plots
								in Python. The most basic plot is the line plot. A general
								recipe is given here.</p>
							<pre>  <code>import matplotlib.pyplot as plt plt.plot(x,y) plt.show() </code>
									</pre>

							<p>
								In the video, you already saw how much the world population has
								grown over the past years. Will it continue to do so? The world
								bank has estimates of the world population for the years 1950 up
								to 2100. The years are loaded in your workspace as a list called
								<code>year</code>
								, and the corresponding populations as a list called
								<code>pop</code>
								.
							</p>
						</div>
					</div>
					<div class="exercise--instructions-title">
						<h4>
							Instructions<a report-button="" trigger="instructions"
								user-code="getFeedbackCode()"
								class="report-button no-link-style" href=""> <i
								class="fa fa-flag-o" tooltip="Report a problem"
								tooltip-append-to-body="true"></i>
							</a>
						</h4>
					</div>
					<div data-onboarding="instructions"
						class="exercise--instructions exercise--typography">
						<div ng-bind-html="exercise.instructions"
							ng-model="exercise.instructions" mathjax=""
							class="ng-pristine ng-untouched ng-valid">
							<ul>
								<li><a
									href="https://docs.python.org/3/library/functions.html#print"
									target="_blank"><code>print()</code></a> the last item from
									both the <code>year</code> and the <code>pop</code> list to see
									what the predicted population for the year 2100 is. Use two <code>print()</code>
									functions.</li>
								<li>Before you can start, you should import <code>matplotlib.pyplot</code>
									as <code>plt</code>. <code>pyplot</code> is a sub-package of <code>matplotlib</code>,
									hence the dot.
								</li>

							</ul>
						</div>
						<div class="sct-feedback" scroll=".exercise--sidebar-content"
							has-solution="true">
							<ul class="content--tab mono">
								
								<a href="" class="exercise--show-hint"> <i
									class="fa fa-lightbulb-o"></i>
									<span>Hint?</span>
								</a>
							</ul>
							<!-- ngRepeat: message in messages -->
						</div>
					</div>
				</div>
			</aside>

			<section id="tabs" class="exercise--content">
				<ul class="content--tab mono">
					<li ><a id="EditorTab" href="#Editor" class="active"><i class="fa fa-code"
							aria-hidden="true"></i> Code Editor</a></li>
					<li ><a id="VisualDebugTab"  href="#VisualDebug"><i class="fa fa-television"
							aria-hidden="true"></i> Visual Debug</a></li>
				</ul>
				<div id="Editor" style="height:600px">
					
				</div>
				<div id="VisualDebug">
					
				</div>
<div class="content--tab-buttons">
                       
                        <a class="exercise--reset no-link-style" href=""><i class="fa fa-undo"></i></a>
                        <button id="buttonz" data-onboarding="codeEditor" class="btn btn-small btn-inverse">Execute Code</button></div>
                

   
                
                
			</section>
		</div>
	</div>

<script src="https://code.jquery.com/jquery-1.12.4.js"
	type="text/javascript"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"
	type="text/javascript"></script>
<script type="text/javascript">
  $( function() {
    $( "#tabs" ).tabs();
  } );
  $( "#VisualDebugTab" ).click(function() {
	  $("#sidebar").hide("700", "linear", function(){
		  $("#tabs").css("width", "100%");
	  });
	 
	  $("#VisualDebugTab").addClass("active");
	  $("#EditorTab").removeClass("active");
	});
  
  $( "#EditorTab" ).click(function() {
	  $("#sidebar").show("700", "linear");
	  $("#tabs").css("width", "60%");
	  $("#EditorTab").addClass("active");
	  $("#VisualDebugTab").removeClass("active");
	});
  </script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.5/ace.js" type="text/javascript"></script>
<script type="text/javascript">
		var editor = ace.edit("Editor");
		editor.setTheme("ace/theme/twilight");
		editor.getSession().setMode("ace/mode/python");
    </script>
     <script type="text/javascript" src="../../Testing/js/sendAce.js"></script>

</body>
</html>